@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

#div {
  pre,
  :global(.katex-display) {
    background-color: map-get($theme-colors, "dark");
  }

  pre {
    padding: $spacer;
  }

  :global(.katex-display) {
    overflow: auto;

    :global(.katex) {
      display: inline-block;
      margin: $spacer;
    }
  }
}
